<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6faa">  <td>20/01/03 21:43:13</td>   <td>0</td> <td title="&gt;&gt;BaseClass.launchUrl()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@dc24521]">&gt;&gt;launchUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/01/03 21:44:00</td>   <td>46439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LoadTestData()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@dc24521]">&gt;&gt;LoadTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/01/03 21:44:02</td>   <td>48963</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.FlushReport()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@dc24521]">&lt;&lt;FlushReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/01/03 21:44:03</td>   <td>49627</td> <td title="&lt;&lt;BaseClass.closeDriver()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@dc24521]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
</table>
