<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>20/01/04 00:48:38</td>   <td>0</td> <td title="&gt;&gt;BaseClass.launchUrl()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@55d56113]">&gt;&gt;launchUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:42</td>   <td>63318</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LoadTestData()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@55d56113]">&gt;&gt;LoadTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:44</td>   <td>65451</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.FlushReport()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@55d56113]">&lt;&lt;FlushReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:44</td>   <td>65453</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LoadTestData()[pri:0, instance:testCase.TC02_SingledatePartial_WF1_Planned@10bdf5e5]">&gt;&gt;LoadTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:44</td>   <td>65704</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.FlushReport()[pri:0, instance:testCase.TC02_SingledatePartial_WF1_Planned@10bdf5e5]">&lt;&lt;FlushReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:44</td>   <td>65704</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LoadTestData()[pri:0, instance:testCase.TC03_SingleDateFull_WF1_Planned_WithReAccom@6e1ec318]">&gt;&gt;LoadTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:44</td>   <td>65954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.FlushReport()[pri:0, instance:testCase.TC03_SingleDateFull_WF1_Planned_WithReAccom@6e1ec318]">&lt;&lt;FlushReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/04 00:49:45</td>   <td>66183</td> <td title="&lt;&lt;BaseClass.closeDriver()[pri:0, instance:testCase.TC01_SingleDateFull_WF1_Planned@55d56113]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
</table>
